* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.top-nav {
  color: #666678;
  background-color: #EEEEEE;
}

.email {
  font-size: .7rem;
}

.phone {
  font-size: .9rem;
}

.btn-eng {
  background-color: #FFFFFF;
}


.email,
.phone {
  font-weight: bold;
}

.active-on:hover {
  color: #0D6CB6
}

.services h3 {
  font-size: 16px;
  margin-top: 15px;
}

.services .rounded-2 {
  height: 150px;
  transition: transform 0.2s;
}

.services .rounded-2:hover {
  transform: scale(1.1);
}

.service-cards img {
  filter: brightness(40%);
}

.service-cards img:hover {
  filter: brightness(70%);
}

.service-cards>div>div {
  transition: transform 0.2s;
}

.service-cards>div>div:hover {
  transform: scale(1.1);

}

.hero-text>h1 {
  font-size: 1.5rem;
}

.hero-text>h2 {
  font-size: .9rem !important;
  font-weight: bold;
}

.hero-text>p {
  font-size: .6rem;
}

.explore-btn {
  font-size: .8rem;
}

.bg-light-green {
  background-color: #F3FCE2;
  text-align: center;
}

.features {
  position: absolute;
  color: #FFFFFF;
  bottom: 0;
}

.hunger-btn {
  width: 100% !important;
}

.card-img-top {
  opacity: .5;

}


.ft-content a {
  text-decoration: none;
  color: #fff;
}

.ft-content a:hover {
  color: #fff;
}

.address {
  text-decoration: none;
  font-size: 12px;
}

.overlay-content {
  bottom: 0;
  color: #FFFFFF;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer-bg {
  background-color: hsl(0, 0%, 26%);
  color: #fff;
}

.social-icons img {
  width: 40px;
  border-radius: 5px;
}

.what {
  background-color: #008000;
  width: 40px;
  border-radius: 5px;
}

.what>img {
  width: 24px;
}

.social-icons button {
  border-radius: 10px;
}

@media screen and (min-width:1200px) {
  .nav-btns {
    width: 30%;
  }

  .hero-text>h1 {
    font-size: 2.3rem;
  }

  .hero-text>h2 {
    font-size: 1.5rem !important;
    font-weight: bold;
  }

  .hero-text>p {
    font-size: 1rem;
  }

  .hero-img {
    width: 596px;
  }

  .bg-light-green {
    width: 15% !important;
  }
}